.pics {
    max-width: 200px;
    padding-right: 20px;
}

.footer--right {
   
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    background-color: rgb(187, 104, 45);
    font-size: larger;
    box-shadow: 0 4px 4px 4px rgba(11, 11, 11, 0.23);
    /* position: sticky; */

}

.footer--logo {
    height: 30px;
    width: 30px;
    gap: 10px;
}